
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5E5D3;
    color: #444;
    margin: 0;
    display: flex;
}

header {
    display: flex;
    min-height: 100vh;
    background-color: #F5E5D3;
}

.sidebar {
    width: 200px;
    background-color: #D3A689;
    padding: 20px;
    
    min-height: 100vh; 
}

.sidebar h1 {
    font-size: 1.5rem;
    color: #f7f4f0;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}


.sidebar ul li a {
    color: #f7f4f0;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

nav ul li a {
    text-decoration: none;
    color: #f7f4f0;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
main {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 20px;
}

h2 {
    color: #D3A689;
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

/* Detalhes da reserva */
.reserva-detalhes {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.reserva-detalhes p {
    font-size: 1rem;
    color: #444;
}

.reserva-detalhes strong {
    color: #000000;
}

/* Botão */
button {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: #D3A689;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

button:hover {
    background-color: #d18553;
    transition: background-color 0.2s;
}

/* Adicionando responsividade */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    button {
        width: 100%;
    }
}
