/* Reset de margens e paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5E5D3;
    color: #444;
    margin: 0;
    display: flex;
}

/* Header */
header {
    width: 200px;
    background-color: #D3A689;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 100vh; 
}

header h1 {
    color: #f7f4f0;
    font-size: 24px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

nav ul li a {
    text-decoration: none;
    color: #f7f4f0;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
main {
    max-width: 800px;
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #D3A689;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Detalhes do Pet */
.pet-detalhes {
    background-color: #f1e5dd;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.pet-detalhes p {
    font-size: 1rem;
    color: #444;
}

.pet-detalhes strong {
    color: #333;
}

.pet-imagem {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botão */
button {
    padding: 10px 15px;
    background-color: #D3A689;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #d18553;
}

/* Responsividade */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .pet-detalhes {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}
